body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.base-container {
  padding-left: 10%;
  padding-right: 10%;
  /* background: greenyellow; */
}
#footer {
  background-color: #efefef;
  flex: 0 0 50px; /*or just height:50px;*/
  margin-top: auto;
}
